<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations sur le Jeu Vidéo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h2 {
            text-align: center;
            padding: 20px;
            background-color: #4CAF50;
            color: white;
            margin: 0;
        }

        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 80%; /* Réduire la largeur du tableau */
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin: 20px auto; /* Centrer le tableau */
            background-color: #fff;
        }

        table th, table td {
            padding: 8px 12px; /* Réduire le padding des cellules */
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        table th {
            background-color: #4CAF50;
            color: white;
        }

        table tbody tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>

<h2>Informations sur le Jeu Vidéo</h2>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Développeur</th>
        <th>Éditeur</th>
        <th>Date de Sortie</th>
        <th>Prix</th>
        <th>Genre</th>
        <th>Plateforme</th>
    </tr>

    {% for game in Game %}

                <form action="{{ path('app_games_edit', {id: game.id}) }}" method="post">
                    <label for="pv">PV:</label>
                    <input type="text" id="pv" name="pv" value="{{ game.name }}" ><br>

                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="{{ game.editor }}" ><br>

                    <label for="mana">Mana:</label>
                    <input type="text" id="mana" name="mana" value="{{ game.releasedate }}" ><br>

                    <label for="ap">AP:</label>
                    <input type="text" id="ap" name="ap" value="{{ game.price }}" ><br>

                    <label for="ad">AD:</label>
                    <input type="text" id="ad" name="ad" value="{{ game.gender }}" ><br>

                    <label for="ad">AD:</label>
                    <input type="text" id="ad" name="ad" value="{{ game.PlatformGame }}" ><br>

                    <a href="{{ path('app_player_delete', {id: game.id}) }}">Supprimer</a>
                    <button type="submit">modifier</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </thead>
</table>

</body>
</html>
